appdirs==1.4.3
attrs==19.3.0
black==19.3b0
certifi==2019.9.11
chardet==3.0.4
Click==7.0
Flask==1.1.1
Flask-Cors==3.0.8
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.3
jsonschema==3.2.0
MarkupSafe==1.1.1
pyrsistent==0.15.5
requests==2.22.0
six==1.13.0
toml==0.10.0
urllib3==1.25.7
Werkzeug==0.16.0
